DATABASE_URL=
REDIS_URL=
LITELLM_BASE_URL=http://litellm.railway.internal:4000
LITELLM_API_KEY=
TRIGGER_SECRET_KEY=
TRIGGER_PROJECT_REF=
RAILWAY_BUCKET_ENDPOINT=
RAILWAY_BUCKET_NAME=
RAILWAY_BUCKET_ACCESS_KEY_ID=
RAILWAY_BUCKET_SECRET_ACCESS_KEY=
APP_URL=http://localhost:3000
APP_BASIC_AUTH_USER=
APP_BASIC_AUTH_PASSWORD=
